html { height: 100%; }
body {
  height: 100%;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
}
footer { display: none; }
.ajax-loader { display: none; }
.form-buttons { padding-top: 23px; }

/* Bootstrap messes with google maps */
#google-map > div {
  height: 400px;
  border: 1px solid #ccc;
}
#google-map img,
.goog-map img { max-width: none; }

#google-maps label,
.goog-map label {
  width: auto;
  display: inline;
}

.thumbnails li > div { min-height: 420px; }
.thumbnails .goog-map > div {
  height: 200px;
  border: 1px solid #ccc;
}
.form-inline .help-inline {
  display: none;
  padding-left: 0;
  font-size: 12px;
}
.form-inline .error .help-inline { display: block; }
.show-btns a { margin-left: 10px; }
